<!-- <form (ngSubmit)="onSubmit()" #questionForm="ngForm" class="w-full mx-auto flex flex-col items-center justify-center">
    <div class="mb-6 w-full">
        <label for="name" class="block mb-2 text-lg text-black">Title</label>
        <input type="text" [(ngModel)]="question.questionName" name="name" id="name" [value]="question.questionName" class="text-black text-lg rounded-lg block p-2.5 w-full bg-white" placeholder="Your title..." required>
    </div>
    <div class="mb-6 w-full">
        <label for="message" class="block mb-2 text-lg text-black">Text</label>
        <textarea id="text" rows="4" name="text" [(ngModel)]="question.text" [value]="question.text" class="block p-2.5 w-full text-lg rounded-lg bg-white" placeholder="Write your question here..." required></textarea>
    </div>
    <div class="mb-6 w-full">
        <label class="block mb-2 text-lg text-black" for="image">Upload image</label>
        <input class="block w-full text-lg rounded-lg cursor-pointer bg-white" id="image" type="file" name="image" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <div class="mb-6 w-full">
        <p class="text-red-600">There was some problem with the server. Please try again</p>
    </div>
    <button type="submit" class="text-white bg-orange-400 hover:bg-orange-600 rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form> -->
