<form (ngSubmit)="onSubmit()" #questionForm="ngForm" class="w-full mx-auto flex flex-col items-center justify-center">
    <div class="mb-6 w-full">
        <label for="title" class="block mb-2 text-lg text-black">Title</label>
        <input type="text" [(ngModel)]="question.questionName" name="title" id="title" [value]="question.questionName" class="text-black text-lg rounded-lg block p-2.5 w-full bg-white" placeholder="Write your question title" required>
    </div>
    <div class="mb-6 w-full">
        <label for="message" class="block mb-2 text-lg text-black">Your question</label>
        <textarea id="text" rows="4" name="text" [(ngModel)]="question.text" class="block p-2.5 w-full text-lg rounded-lg bg-white" placeholder="Write your question here..." required>{{question.text}}</textarea>
    </div>
    <div class="mb-6 w-full">
        <app-tag-input></app-tag-input>
    </div>
    <div class="mb-6 w-full">
        <label class="block mb-2 text-lg text-black" for="image">Upload image</label>
        <input class="block w-full text-lg rounded-lg cursor-pointer bg-white" id="image" type="file" name="image" accept="image/*" (change)="onFileSelected($event)">
    </div>
    <div *ngIf="showError" class="mb-6 w-full">
        <p class="text-red-600">Make sure you filled out all the fields</p>
    </div>
    <button type="submit" class="text-white bg-orange-400 hover:bg-orange-600 rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form>
